@import "https://fonts.googleapis.com/css?family=Chivo:700|Nunito";

body {
    background-color: #ebebeb;
    color: #101010;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    /* align-content: center; */
    /* width: 100%;
    height: 100%; */
}


h1.title {
    color: #101010;
    border: 5px solid #101010;
    height: auto;
    width: auto;
    margin: 0;
    font-size: 60px;
    letter-spacing: 10px;
}

h1 {
    font-family: "Chivo", sans-serif;
    font-size: 30px;
    color: #101010;
    text-align: center;
    letter-spacing: 5px;
}

h1.under {
    text-decoration: underline; 
}


div {
    margin-top: 5px;
}

div.bl {
    border: 5px #1b1b1b solid;
    float: left;
    width: 63%;
}

div.br {
    border: 5px #1b1b1b solid;
    float: right;
    width: 35.1%;
}

div.license {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 15px;
    color: #525252;
}


.c {
    text-align: center;
}

.c_grey {
    text-align: center;
    color: #353535;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.c_grey_pad {
    text-align: center;
    color: #353535;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: block;
}
.cn {
    font-style: italic;
}

.b {
    border: 5px #101010 solid
}

.bold {
    font-weight: bold;
}



